@rendermode InteractiveWebAssembly
@using LMS.Shared.DTOs

@attribute [Authorize]

<div class="accordion" id="Courseaccordion">
    @foreach (var course in FullCourseList ?? Enumerable.Empty<CourseDto>())
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapseC{course.Id}")" aria-expanded="false" aria-controls="@($"collapseC{course.Id}")">
                    <a href="/course/@course.Id">@course.CourseName</a>
                </button>
            </h2>
        </div>
        <div id="@($"collapseC{course.Id}")" class="accordion-collapse collapse">
            <div class="accordion-body">
                @if (isTeacher)
                {
                    <div class="icon-list">
                        <LMS.Blazor.Client.Components.AddNewModule />
                        <LMS.Blazor.Client.Components.AddNewStudent />
                        <LMS.Blazor.Client.Components.AddNewDocument />
                    </div>
                }
                @course.Description <br />
                Start: @course.StartDate <br />
                End: @course.EndDate

                @if (course.Modules.Count > 0)
                {
                    <LMS.Blazor.Client.Components.CourseModuleList CourseId="course.Id" ModuleList="course.Modules" />
                }
            </div>
        </div>
    }
</div>

@code {
    private bool isTeacher;
    [Parameter]
    public List<CourseDto> FullCourseList { get; set; }
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isTeacher = authState.User.IsInRole("Teacher");
    }
}