@page "/coursedtos/details"
@using Microsoft.EntityFrameworkCore
@using LMS.Shared.DTOs
@inject IDbContextFactory<LMS.Blazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>CourseDto</h2>
    <hr />
    @if (coursedto is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CourseName</dt>
            <dd class="col-sm-10">@coursedto.CourseName</dd>
            <dt class="col-sm-2">StartDate</dt>
            <dd class="col-sm-10">@coursedto.StartDate</dd>
            <dt class="col-sm-2">ModuleIds</dt>
            <dd class="col-sm-10">@coursedto.ModuleIds</dd>
        </dl>
        <div>
            <a href="@($"/coursedtos/edit?id={coursedto.Id}")">Edit</a> |
            <a href="@($"/coursedtos")">Back to List</a>
        </div>
    }
</div>

@code {
    private CourseDto? coursedto;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        coursedto = await context.CourseDto.FirstOrDefaultAsync(m => m.Id == Id);

        if (coursedto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
